
body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  padding: 2em;
}
.container {
  max-width: 500px;
  margin: auto;
}
input, button {
  margin-top: 1em;
  padding: 0.5em;
  width: 100%;
}
.error {
  color: red;
}
